<%- include('partials/header') %>
 <form action="/compose" method="post"> 
    <div class="form-group">
        <label for="title"> <h3>Title:</h3></label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" autocomplete="off" autofocus required>
        <label for="content">
            <h3>Post:</h3>
        </label>
        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>   
    </div>
    <button type="submit" class="btn btn-success" style="margin-top: 1rem;">Publish</button>
 </form>
<%- include('partials/footer') %>